@import '../abstract/variaveis';

nav {
    background-color: $cor-secundaria;
    width: 100px;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    div {
        cursor: pointer;

        span {
            display: block;
            width: 35px;
            border-top: 4px solid $cor-quaternaria;
            transition: .8s;

            &::after,
            &::before {
                content: '';
                display: block;
                border-top: 4px solid $cor-quaternaria;
                margin-top: 5px;
                transition: .8s;
                position: relative;
            }
        }
    }

    .menu__active-icon {
        border-top-color: transparent;
        margin: 0 0 15px 0;

        &::after {
            transform: rotate(135deg);
        }

        &::before {
            transform: rotate(-135deg);
            top: 9px;
        }
    }

    ul {
        background-color: $cor-secundaria;
        min-height: 92vh;
        position: fixed;
        top: 8vh;
        right: -100%;
        width: 50vw;
        transition: 0.8s;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        li {
            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $cor-quaternaria;
                font-weight: 400;
                border-top: 2px solid $cor-terciaria;
                border-left: 2px solid $cor-terciaria;
                width: 50vw;
                height: 18.4vh;   
            }
        }
    }

    .menu__active {
        right: 0%;
    }
}