@import '../abstract/variaveis';

nav {
    background-color: $cor-secundaria;
    width: 100px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    div {
        cursor: pointer;
    }

    span {
        background-color: $cor-quaternaria;
        display: block;
        height: 4px;
        width: 30px;
        margin: 4px 0;
        transition: 1s;
    }

    ul {
        background-color: $cor-secundaria;
        min-height: 90vh;
        position: fixed;
        top: 10vh;
        right: -100%;
        width: 50vw;
        transition: 0.5s;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .menu--active {
        right: 0%;
    }

}