@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body .loading__center {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #000000;
  -webkit-animation: loading 0.5s forwards 1s;
          animation: loading 0.5s forwards 1s;
  z-index: 9999;
}
@-webkit-keyframes loading {
  to {
    transform: translateX(100vw);
    opacity: 0;
  }
}
@keyframes loading {
  to {
    transform: translateX(100vw);
    opacity: 0;
  }
}
body .loading__center .loading {
  width: 50px;
  height: 50px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  border-top-color: transparent;
  -webkit-animation: icon-loading 1s infinite;
          animation: icon-loading 1s infinite;
}
@-webkit-keyframes icon-loading {
  to {
    transform: rotate(360deg);
  }
}
@keyframes icon-loading {
  to {
    transform: rotate(360deg);
  }
}

header {
  opacity: 1;
  position: fixed;
  width: 100vw;
  min-height: 8vh;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 0 10px;
  height: 8vh;
}
header ul li {
  margin: 0 15px;
}
header ul li .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #0e9c28;
  -webkit-animation: icons 4s ease 2s infinite;
          animation: icons 4s ease 2s infinite;
}
@-webkit-keyframes icons {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes icons {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

nav {
  background-color: #000000;
  width: 100px;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
nav div {
  cursor: pointer;
}
nav div span {
  display: block;
  width: 35px;
  border-top: 4px solid #0e9c28;
  transition: 0.4s;
}
nav div span::after, nav div span::before {
  content: "";
  display: block;
  border-top: 4px solid #0e9c28;
  margin-top: 5px;
  transition: 0.4s;
  position: relative;
}
nav .menu__active-icon {
  border-top-color: transparent;
  margin: 0 0 15px 0;
}
nav .menu__active-icon::after {
  transform: rotate(135deg);
}
nav .menu__active-icon::before {
  transform: rotate(-135deg);
  top: 9px;
}
nav ul {
  background-color: #000000;
  min-height: 92vh;
  position: fixed;
  top: 8vh;
  right: -100%;
  width: 45vw;
  transition: 0.4s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
nav ul li {
  margin: 85px 0 0 0;
}
nav ul li a {
  text-decoration: none;
  color: #0e9c28;
  font-weight: 400;
}
nav .menu__active {
  right: -100%;
}

@media (min-width: 600px) {
  nav ul {
    width: 20vw;
  }
  nav ul li {
    margin: 75px 0 0 0;
  }
}
main .home {
  background-color: #0e9c28;
  color: #ffffff;
  display: grid;
  height: 100vh;
  width: 100%;
}
main .home .apresentacao {
  margin: 8vh 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .home .apresentacao img {
  margin: 0 0 20px 0;
  border-radius: 50%;
  border: 10px solid #ffffff;
  width: 300px;
  -webkit-animation: img-circle 4s alternate infinite;
          animation: img-circle 4s alternate infinite;
}
@-webkit-keyframes img-circle {
  40% {
    border-right: 10px solid #000000;
  }
  60% {
    border-bottom: 10px solid #000000;
  }
  80% {
    border-left: 10px solid #000000;
  }
  100% {
    border-top: 10px solid #000000;
  }
}
@keyframes img-circle {
  40% {
    border-right: 10px solid #000000;
  }
  60% {
    border-bottom: 10px solid #000000;
  }
  80% {
    border-left: 10px solid #000000;
  }
  100% {
    border-top: 10px solid #000000;
  }
}
main .home .apresentacao h1 {
  font-size: 16px;
  text-align: center;
  font-weight: 300;
}
main .home .apresentacao h2 {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  margin: 5px 0 0 0;
}
main .home .apresentacao h3 {
  font-size: 22px;
  text-align: center;
  margin: 20px 0 0 0;
  -webkit-animation: developer 2s steps(15) alternate infinite;
          animation: developer 2s steps(15) alternate infinite;
}
@-webkit-keyframes developer {
  0% {
    color: #0e9c28;
    font-weight: 100;
  }
  100% {
    color: #000000;
    font-weight: 500;
  }
}
@keyframes developer {
  0% {
    color: #0e9c28;
    font-weight: 100;
  }
  100% {
    color: #000000;
    font-weight: 500;
  }
}
main .home .apresentacao p {
  display: none;
}
main .home .apresentacao a {
  font-style: italic;
  margin: 40px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #000000;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  width: 300px;
  height: 50px;
  border-radius: 25px;
}

@media (min-width: 800px) {
  main .home .apresentacao {
    margin: 8vh 0 0 0;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr auto;
  }
  main .home .apresentacao .logo {
    grid-column: 1/span 1;
    grid-row: 1/span 2;
  }
  main .home .apresentacao .logo img {
    margin: 0 40px;
    width: 340px;
  }
  main .home .apresentacao .descricao {
    grid-column: 2/span 1;
    grid-row: 1/span 2;
    margin: 0 0 0 15px;
  }
  main .home .apresentacao .descricao h1 {
    font-size: 24px;
    font-weight: 200;
  }
  main .home .apresentacao .descricao h2 {
    font-size: 28px;
    font-weight: 500;
    margin: 2px 0 0 0;
  }
  main .home .apresentacao .descricao p {
    width: 95%;
    display: block;
    margin: 20px 0 0 0;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1;
    line-height: 28px;
  }
  main .home .apresentacao .curriculo {
    grid-column: 1/span 2;
    grid-row: 3/span 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .home .apresentacao .curriculo a {
    margin: 0px 0 20px 0;
  }
}/*# sourceMappingURL=style.css.map */